<!doctype html>
<html>
  <head>
    <title>ML template</title>
</head>
<body>
      <div class="banner">
        <h1>A ML template</h1>
      </div>
      <p class="top-info">ML template</p>
      <div class="item">
  </head>
  <body>
    <form action="/result" method="POST">
      <p>A <input type="number" name="A" /></p>
      <p>B <input type="number" name="B" /></p>
      <p>C <input type="number" name="C" /></p>
      <p>E:
      <select name="E">
        <option value='blue'>blue</option>
        <option value='car'>car</option>
        <option value='house'>house</option>
        <option value='sport'>sport</option>
      </select>
      <p><input type="submit" name="submit" /></p>
    </form>
  </body>
</html>
